.twist-aplayer-list {
  overflow: auto;
  transition: all 0.5s ease;
  will-change: height;
  display: none;
  overflow: hidden;

  &--hide {
    max-height: 0 !important;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }

  ol li {
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    border-top: 1px solid hsl(var(--tp-border));
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    margin: 0;
    background-color: hsl(var(--tp-background));
  }

  ol li#{&}--active {
    background-color: hsl(var(--tp-secondary));
  }

  ol li:first-child {
    border: none;
  }

  &__cur {
    display: none;
    width: 3px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
    background-color: hsl(var(--tp-accent-foreground));
  }

  &--active &__cur {
    display: inline-block;
  }

  &__index {
    color: hsl(var(--tp-muted-foreground));
    margin-right: 12px;
    cursor: pointer;
  }

  &__title {
    color: hsl(var(--tp-secondary-foreground));
  }

  &__author {
    color: hsl(var(--tp-muted-foreground));
    float: right;
    cursor: pointer;
  }
}