.twist-aplayer-controller {
  position: relative;
  display: flex;

  &__time {
    position: relative;
    right: 0;
    bottom: 4px;
    height: 17px;
    font-size: 11px;
    padding-left: 7px;
  }

  &__time-inner {
    color: hsl(var(--tp-muted-foreground));
    vertical-align: middle;
  }
}