.twist-aplayer {
  &-vars {
    --tp-icon-width: 15px;
    --tp-icon-height: 15px;
    --tp-icon-font-size: 15px;
    --tp-icon-transition-function: ease-in-out;
    --tp-icon-transition-timing: .2s;
    --tp-max-width: 400px;
    --tp-zIndex: 99;
    --tp-pic-width: 66px;
    --tp-pic-height: 66px;
    --tp-pic-transition-function: ease;
    --tp-pic-transition-timing: .3s;
  }

  & {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    line-height: normal;
    border-radius: 2px;
    box-shadow: var(--tp-shadow);
    overflow: hidden;
    border: 1px solid var(--tp-border);
  }

  & * {
    box-sizing: content-box;
  }

  &__body {
    background-color: hsl(var(--tp-background));
  }

  &-icon {
    width: var(--tp-icon-width);
    height: var(--tp-icon-width);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
    vertical-align: middle;
    padding: 0;
    font-size: var(--tp-icon-font-size);
    margin: 0;
    display: inline-block;
  }

  &-controller__time &-icon path {
    fill: hsl(var(--tp-muted-foreground));
  }

  &-controller__time &-icon:hover path {
    fill: hsl(var(--tp-primary));
  }

  &-icon path {
    transition: all var(--tp-icon-transition-timing) var(--tp-icon-transition-function);
  }

  &-icon-lrc-inactivity svg {
    opacity: 0.4;
  }

  &.twist-loading-icon {
    display: block;
  }

  &-loading-icon svg {
    position: absolute;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
  }

  &-icon-back,
  &-icon-forward,
  &-icon-lrc,
  &-icon-order,
  &-icon-play {
    display: none;
  }

  &#{&}--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: var(--tp-zIndex);
    overflow: visible;
    max-width: var(--tp-max-width);
    box-shadow: none;
  }

  &--fixed &__body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 99;
    padding-right: 18px;
    transition: all 0.3s ease;
    max-width: 400px;
  }

  &--fixed &-list {
    margin-bottom: 65px;
    border: 1px solid hsl(var(--tp-border));
    border-bottom: none;
  }

  &--fixed &__info {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: all 0.3s ease;
    border-bottom: none;
    border-top: 1px solid hsl(var(--tp-border));
  }

  &--withlist &__info {
    border-bottom: 1px solid hsl(var(--tp-border));
  }

  &--withlist &-list {
    display: block;
  }

  &--withlist &-icon-order,
  &--withlist &-icon-menu {
    display: inline;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-lrc,
  &--fixed &-icon-play {
    display: inline-block;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-menu,
  &--fixed &-icon-play {
    position: absolute;
    bottom: 27px;
    width: 20px;
    height: 20px;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-play {
    font-size: 20px;
  }

  &--fixed &-icon-back {
    right: 75px;
  }

  &--fixed &-icon-play {
    right: 50px;
  }

  &--fixed &-icon-forward {
    right: 25px;
  }

  &--fixed &-icon-menu {
    right: 0%;
  }

  &--narrow {
    width: 66px;
  }

  &--narrow &__info,
  &--narrow &-list {
    display: none;
  }

  &--narrow &__body,
  &--narrow &__pic {
    width: 66px !important;
    height: 66px !important;
  }

  &--fixed &-lrc {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 98;
    pointer-events: none;
    text-shadow: -1px -1px 0 #fff;
  }

  &--fixed &-lrc::after,
  &--fixed &-lrc::before {
    display: none;
  }

  &--withlrc &-lrc {
    display: block;
  }

  &--withlrc &__info {
    margin-left: 90px;
    height: 90px;
    padding: 10px 7px 0;
  }

  &--withlrc &__pic {
    height: 90px;
    width: 90px;
  }

  &__pic {
    position: relative;
    float: left;
    width: var(--tp-pic-width);
    height: var(--tp-pic-height);
    background-size: cover;
    background-position: 50%;
    transition: all var(--tp-pic-transition-timing) var(--tp-pic-transition-function);
    cursor: pointer;
  }

  &__button {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
  }

  &--play {
    width: 26px;
    height: 26px;
    border: 2px solid hsl(var(--tp-secondary-foreground));
    bottom: 50%;
    right: 50%;
    margin: 0 -15px -15px 0;

    svg {
      position: absolute;
      top: 3px;
      left: 4px;
      height: 20px;
      width: 20px;
    }

    path {
      fill: hsl(var(--tp-secondary-foreground));
    }
  }

  &--pause {
    font-size: 12px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    bottom: 4px;
    right: 4px;

    svg {
      position: absolute;
      top: 2px;
      left: 2px;
      height: 12px;
      width: 12px;
    }
  }

  &__info {
    margin-left: 66px;
    padding: 14px 7px 0 10px;
    height: 66px;
    box-sizing: border-box;
  }

  &__music {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 13px 5px;
    user-select: text;
    cursor: default;
    padding-bottom: 2px;
    height: 20px;
  }

  &--fixed &__miniswitcher {
    display: block;
  }

  &__miniswitcher {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: hsl(var(--tp-accent));
    width: 18px;
    border-radius: 0 2px 2px 0;
  }

  &__miniswitcher &-icon {
    height: 100%;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 0.3s ease;
  }

  &__miniswitcher &-icon path {
    fill: hsl(var(--tp-muted-foreground));
  }

  &--fixed#{&}--narrow &-icon {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  &__title {
    color: hsl(var(--tp-secondary-foreground));
    font-size: 14px;
  }

  &__author {
    font-size: 12px;
    color: hsl(var(--tp-muted-foreground));;
  }
}