.twist-aplayer {
  &-light {
    --tp-background: 0 0% 100%;
    --tp-foreground: 240 10% 3.9%;
    --tp-card: 0 0% 100%;
    --tp-card-foreground: 240 10% 3.9%;
    --tp-primary: 240 5.9% 10%;
    --tp-primary-foreground: 0 0% 98%;
    --tp-secondary: 240 4.8% 95.9%;
    --tp-secondary-foreground: 240 5.9% 10%;
    --tp-muted: 240 4.8% 95.9%;
    --tp-muted-foreground: 240 3.8% 46.1%;
    --tp-accent: 240 4.8% 95.9%;
    --tp-accent-foreground: 240 5.9% 10%;
    --tp-border: 240 5.9% 90%;
  }

  &-dark {
    --tp-background: 240 10% 3.9%;
    --tp-foreground: 0 0% 98%;
    --tp-card: 240 10% 3.9%;
    --tp-card-foreground: 0 0% 98%;
    --tp-primary: 0 0% 98%;
    --tp-primary-foreground: 240 5.9% 10%;
    --tp-secondary: 240 3.7% 15.9%;
    --tp-secondary-foreground: 0 0% 98%;
    --tp-muted: 240 3.7% 15.9%;
    --tp-muted-foreground: 240 5% 64.9%;
    --tp-accent: 240 3.7% 15.9%;
    --tp-accent-foreground: 0 0% 98%;
    --tp-border: 240 3.7% 15.9%;
  }

  &-vars {
    --tp-icon-width: 15px;
    --tp-icon-height: 15px;
    --tp-icon-font-size: 15px;
    --tp-icon-transition-function: ease-in-out;
    --tp-icon-transition-timing: .2s;
    --tp-max-width: 400px;
    --tp-zIndex: 99;
    --tp-pic-width: 66px;
    --tp-pic-height: 66px;
    --tp-pic-transition-function: ease;
    --tp-pic-transition-timing: .3s;
    --tp-button-background: rgba(0, 0, 0, 0.2);
    --tp-box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tp-user-border: hsl(var(--tp-border) / .3);
  }

  & {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    line-height: normal;
    border-radius: 2px;
    box-shadow: var(--tp-box-shadow);
    overflow: hidden;
  }

  &--border {
    border: 1px solid var(--tp-user-border);
  }

  & * {
    box-sizing: content-box;
  }

  &__body {
    background-color: hsl(var(--tp-background));
  }

  &-icon {
    width: var(--tp-icon-width);
    height: var(--tp-icon-width);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
    vertical-align: middle;
    padding: 0;
    font-size: var(--tp-icon-font-size);
    margin: 0;
    display: inline-block;
  }

  &-controller__time &-icon path {
    fill: hsl(var(--tp-muted-foreground));
  }

  &-controller__time &-icon:hover path {
    fill: hsl(var(--tp-primary));
  }

  &-icon path {
    transition: all var(--tp-icon-transition-timing) var(--tp-icon-transition-function);
  }

  &-icon-lrc-inactivity svg {
    opacity: 0.4;
  }

  &-icon-loading {
    display: none;
  }

  &--loading &-icon-loading {
    display: block;
  }

  &-icon-loading svg {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;

    path {
      fill: hsl(var(--tp-background));
    }
  }

  &-icon-back,
  &-icon-forward,
  &-icon-lrc,
  &-icon-order,
  &-icon-play {
    display: none;
  }

  &#{&}--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: var(--tp-zIndex);
    overflow: visible;
    max-width: var(--tp-max-width);
    box-shadow: none;
  }

  &--fixed &__body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 99;
    padding-right: 18px;
    transition: all 0.3s ease;
    max-width: 400px;
  }

  &--fixed &__info {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: all 0.3s ease;
    border-bottom: none;
    border-top: 1px solid hsl(var(--tp-border));
  }

  &--fixed#{&}--border#{&}--list-folded &__info,
  &--fixed#{&}--list-folded &__info {
    border-top: none;
  }

  // &--normal#{&}--withlist &__info {
  //   border-bottom: 1px solid hsl(var(--tp-border));
  // }

  &--normal#{&}--border#{&}--list-folded &__info,
  &--withlist#{&}--list-folded &__info {
    border-bottom: none;
  }

  &--fixed &-list {
    margin-bottom: 65px;
    border: 1px solid hsl(var(--tp-border));
    border-bottom: none;
  }

  &--withlist &-list {
    display: block;
  }

  &--fixed #{&}-list--hide#{&}-list {
    border-top: none;
  }

  &--withlist &-icon-order,
  &--withlist &-icon-menu {
    display: inline;
  }

  &--fixed &-icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-lrc,
  &--fixed &-icon-play {
    display: inline-block;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-menu,
  &--fixed &-icon-play {
    position: absolute;
    bottom: 27px;
    width: 20px;
    height: 20px;
  }

  &--fixed &-icon-back,
  &--fixed &-icon-forward,
  &--fixed &-icon-play,
  &--fixed &-icon-menu {
    font-size: 20px;
  }

  &--fixed &-icon-back {
    right: 75px;
  }

  &--fixed &-icon-play {
    right: 50px;
  }

  &--fixed &-icon-forward {
    right: 25px;
  }

  &--fixed &-icon-menu {
    right: 0%;
  }

  &--narrow {
    width: 66px;
  }

  &--narrow &__info,
  &--narrow &-list {
    display: none;
  }

  &--narrow &__body,
  &--narrow &__pic {
    width: 66px !important;
    height: 66px !important;
  }

  &--fixed &-lrc {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 98;
    pointer-events: none;
    text-shadow: -1px -1px 0 #fff;
  }

  &--fixed &-lrc::after,
  &--fixed &-lrc::before {
    display: none;
  }

  &--withlrc &-lrc {
    display: block;
  }

  &--withlrc &__info {
    margin-left: 90px;
    height: 90px;
    padding: 10px 7px 0;
  }

  &--withlrc &__pic {
    height: 90px;
    width: 90px;
  }

  &__pic {
    position: relative;
    float: left;
    width: var(--tp-pic-width);
    height: var(--tp-pic-height);
    background-size: cover;
    background-position: 50%;
    transition: all var(--tp-pic-transition-timing) var(--tp-pic-transition-function);
    cursor: pointer;
  }

  &__button {
    position: absolute;
    border-radius: 50%;
    opacity: .8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: hsl(var(--tp-primary-foreground));
    transition: all 0.1s ease;
  }

  &--play {
    width: 28px;
    height: 28px;
    bottom: 50%;
    right: 50%;
    margin: 0 -15px -15px 0;

    svg {
      position: absolute;
      top: 4px;
      left: 5px;
      height: 20px;
      width: 20px;
    }
  }

  &--pause {
    font-size: 12px;
    width: 18px;
    height: 18px;
    bottom: 4px;
    right: 4px;

    svg {
      position: absolute;
      top: 3px;
      left: 3px;
      height: 12px;
      width: 12px;
    }
  }

  &--play,
  &--pause {
    path {
      fill: hsl(var(--tp-accent-foreground));
    }
  }

  &__info {
    margin-left: 66px;
    padding: 14px 7px 0 10px;
    height: 66px;
    box-sizing: border-box;
  }

  &__music {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 13px 5px;
    user-select: text;
    cursor: default;
    padding-bottom: 2px;
    height: 20px;
  }

  &-controller__time &-icon {
    cursor: pointer;
    transition: all .2s ease;
  }
  
  &__notice {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    pointer-events: none;
    background-color: hsl(var(--tp-accent));
    color: hsl(var(--tp-accent-foreground));
  }

  &--fixed &__miniswitcher {
    display: block;
  }

  &__miniswitcher {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: hsl(var(--tp-accent));
    width: 18px;
    border-radius: 0 2px 2px 0;
  }

  &__miniswitcher &-icon {
    height: 100%;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 0.3s ease;
  }

  &__miniswitcher &-icon path {
    fill: hsl(var(--tp-muted-foreground));
  }

  &--fixed#{&}--narrow &-icon {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  &__title {
    color: hsl(var(--tp-secondary-foreground));
    font-size: 14px;
  }

  &__author {
    font-size: 12px;
    color: hsl(var(--tp-muted-foreground));

    & > a {
      color: inherit;
      text-decoration: none;
    }
  }
}